@charset "utf-8";
$red: #D93D3D;
$green: #1A8320;
$white: #fff;
%f-16 {
	font-size: 16px;
}
%f-18 {
	font-size: 18px;
}
%f-26 {
	font-size: 26px;
}
%f-36 {
	font-size: 36px;
}
%f-80 {
	font-size: 80px;
}
%m-c {
	margin: 0 auto;
}
%p-ab {
	position: absolute;
}
%p-re {
	position: relative;
}
/*css 重置*/
body,
p,
ul,
li,
span {
	margin: 0;
	padding: 0;
	font-family: verdana;
}
ul,
li {
	list-style: none;
}
/*清楚浮动样式*/
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
/*容器样式*/
.container {
	width: 700px;
	height: 400px;
	@extend %p-ab;
	left: 50%;
	top: 50%;
	margin: {
		left: -350px;
		top: -200px;
	}
	border: 1px solid #E4E2E2;
}
/*公交信息--左*/
.bus-info-left {
	float: left;
}
.bus-n {
	margin: {
		top: 25px;
		bottom: 10px;
	}
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background: $red;
	color: $white;
	@extend %f-80;
}
.bus-time {
	float: right;
	span {
		margin-left: 10px;
		@extend %f-16;
	}
}
/*公交信息--右*/
.bus-info-right {
	margin-left: 180px;
}
.bus-line {
	@extend %m-c;
	@extend %p-re;
	margin: {
		top: 25px;
		bottom: 25px;
	}
	width: 400px;
	height: 64px;
}
.bus-start {
	width: 222px;
}
.bus-end {
	margin-left: 26px;
	width: 148px;
}
.bus-start,
.bus-end {
	display: inline-block;
	float: left;
}
.start-stop,
.end-stop {
	@extend %f-36;
	color: $green;
	margin-bottom: 4px;
	display: inline-block;
	font-weight: bold;
}
.start-stop-p,
.end-stop-p {
	@extend %f-16;
	text-align: center;
	width: 100%;
	color: $green;
	display: inline-block;
}
.connector {
	height: 3px;
	width: 18px;
	background: $green;
	@extend %p-ab;
	top: 20px;
	left: 223px;
	margin: {
		left: 4px;
		right: 4px;
	}
}
.cur-site {
	width: 112px;
	@extend %m-c;
	li {
		float: left;
		color: $red;
		@extend %f-26;
		font-weight: bold;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}
/*公交路线框样式*/
.routes-box {
	@extend %p-re;
	width: 100%;
	height: 184px;
	background: $green;
	margin-top: 10px;
}
.bus-routes {
	@extend %m-c;
	width: 690px;
	writing-mode: vertical-lr;
	li {
		color: $white;
		height: 147px;
		margin: {
			top: 20px;
			bottom: 20px;
			left: 8px;
		}
		@extend %f-18;
		font-weight: bold;
		text-align: center;
	}
	.cur-li {
		@extend %p-re;
	}
}
/*当前站点指示标样式*/
.cur-arrow {
	@extend %p-ab;
	left: 1px;
	bottom: -9px;
	width: 0;
	height: 0;
	border: {
		top: 8px solid transparent;
		left: 8px solid transparent;
		right: 8px solid transparent;
		bottom: 6px solid $white;
	}
	&:after {
		content: '';
		display: block;
		@extend %p-re;
		top: 6px;
		left: -4px;
		width: 8px;
		height: 6px;
		background: $white;
	}
}
/*价格收费信息样式*/
.price-info {
	@extend %m-c;
	margin-top: 10px;
	width: 400px;
	span {
		@extend %f-16;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}
/*方向箭头样式*/
.derection {
	@extend %p-re;
	.d-line {
		width: 500px;
		height: 7px;
		@extend %p-re;
		@extend %m-c;
		left: -10px;
		background: $red;
	}
	.d-arrow {
		width: 0;
		height: 0;
		border: {
			top: 14px solid $red;
			left: 10px solid transparent;
			right: 30px solid transparent;
		}
		transform: rotatez(25deg);
		@extend %p-ab;
		right: 95px;
		top: -2px;
	}
}