body,
div,
ul,
li {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	text-align: center;
	line-height: 80px;
	font-size: 25px;
	color: #E0DEDE;
}
ul,
li {
	list-style: none;
}
.container {
	position: absolute;
    width: 402px;
    height: 502px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #656565;
    border: 1px solid transparent;
    border-radius: 15px;
    overflow: hidden;
}
#screen {
	width: 100%;
	height: 100px;
	background: #6B6767;
	padding: 5px;
	text-align: right;
	color: #E0DEDE;
	font-size: 34px;
}
#tri-fnc {
	width: 240px;
	height: 80px;
	display: inline-block;
	float: left;
	cursor: pointer;
}
#tri-fnc li {
	width: 80px;
	height: 80px;
	background: #E27A3C;
	float: left;
	border-bottom: 1px solid #6B6767;
	border-right: 1px solid #6B6767;
}
#clear {
	width: 80px;
	height: 80px;
	float: left;
	border-bottom: 1px solid #6B6767;
	border-right: 1px solid #6B6767;
	background: #E27A3C;
	cursor: pointer;
}
#back {
	width: 80px;
	height: 80px;
	float: left;
	border-bottom: 1px solid #6B6767;
	background: #E27A3C;
	cursor: pointer;
}
#number {
	width: 240px;
	height: 320px;
	float: left;
	background: #E0DEDE;
	cursor: pointer;
}
#number li {
	width: 80px;
	height: 80px;
	float: left;
	border-bottom: 1px solid #6B6767;
	border-right: 1px solid #6B6767;
	color: #000;
}
#number li:last-child {
	border-bottom: 0;
}
#number .zero {
	width: 160px;
	border-bottom: 0;
}
#base-cal {
	width: 80px;
	height: 320px;
	background: #E27A3C;
	float: left;
	cursor: pointer;
}
#base-cal li {
	width: 80px;
	height: 80px;
	border-bottom: 1px solid #6B6767;
	border-right: 1px solid #6B6767;
}
#base-cal li:last-child {
	border-bottom: 0;
}
#trans-cal {
	width: 80px;
	height: 240px;
	float: left;
	background: #E27A3C;
	cursor: pointer;
}
#trans-cal li {
	width: 80px;
	height: 80px;
	border-bottom: 1px solid #6B6767;
}
#res {
	background: #E27A3C;
	cursor: pointer;
}