@charset "utf-8";
@import "neat";
@import "var";
body {
    overflow-x: hidden;
}

a:hover {
    color: $gr;
}


/*头部样式*/

header {
    box-shadow: 1px 3px 2px #E8E8E8;
    padding: 0;
    margin: 0;
    .wrap {
        width: 1000px;
        height: 104px;
        margin: 0 auto;
    }
}


/*头上半部分样式*/

.hd-top {
    @extend %p-re;
    width: 1000px;
    height: 50px;
    margin: 10px 0;
    .logo {
        float: left;
        width: 113px;
        margin-top: 5px;
    }
    .hd-form {
        @include po(ab, 5px, 50%);
        margin-left: -180px;
        width: 378px;
        height: 36px;
        border: 1px solid #e4e4e4;
        .search {
            display: inline-block;
            float: left;
            padding: 8px 180px 8px 15px;
            border: 0;
            height: 20px;
            @extend %f12;
            outline: none;
            &:focus~.qk-index {
                display: none;
            }
        }
        .submit {
            @include dwh(ib, 40px, 36px);
            float: left;
            border: 0;
            border-left: 1px solid #e4e4e4;
            background: #fff;
            @include bgp('../img/header/topsearch-icon_e1f5df2.png', center, center);
            &:hover {
                border: 1px solid $gr;
                background: #35b558 url(../img/header/topsearch-icon2_8c8d8b0.png) center center no-repeat;
            }
        }
        .qk-index {
            @include po(ab, 8px, 198px);
            @extend %f12;
        }
    }
    .qk-index a {
        display: inline-block;
        margin-left: 8px;
        color: #808080;
        background: #f3f3f3;
        line-height: 16px;
        &:hover {
            color: #333;
            background: #dfdfdf;
        }
    }
    .login {
        float: right;
        height: 50px;
        @extend %f12;
        line-height: 50px;
        color: #333;
        span {
            display: inline-block;
            @include bgp('../img/header/massage-icon2_d1369b2.gif', left, center);
            background-size: 15px 13px;
            width: 15px;
            cursor: pointer;
        }
        em {
            font-style: normal;
            padding: 0 10px;
        }
        a {
            color: #333;
        }
    }
}


/*间隙线*/

header {
    .gap {
        @include po(ab, 68px);
        width: 100%;
        height: 2px;
        background: $gr;
        background: -webkit-gradient(linear, 10% 10%, 100% 100%, color-stop(0.14, #35b550), color-stop(0.5, #8aca8c), color-stop(1, #2d85ca));
    }
    /*头下半部分导航*/
    nav {
        @extend %f14;
        color: #333;
    }
}

nav {
    a {
        color: #333;
    }
    .nav-left {
        float: left;
        height: 50px;
        width: 600px;
        @extend %p-re;
        .navleft-item {
            float: left;
            margin-right: 64px;
            line-height: 42px;
        }
    }
    .panel {
        display: none;
        @include po(ab, 44px);
        width: 1000px;
        @extend %f12;
        background: #fff;
        border: 1px solid #e8e8e8;
        z-index: 100;
    }
    .panel-item {
        @include po(re, 0, 59px);
        float: left;
        border: {
            left: 1px solid #f9f9f9;
            right: 1px solid #f9f9f9;
        }
        width: 120px;
        padding: 10px 0 14px 15px;
        height: 100%;
        box-sizing: border-box;
        .nav-triangle {
            display: none;
            @include po(re, -10px, 38px);
            width: 12px;
            height: 7px;
            margin-top: -7px;
            @include bgp('../img/header/nav-angle_f7c86b6.png');
            background-size: 100% 100%;
        }
        li {
            line-height: 29px;
        }
    }
    .nav-right {
        float: right;
        line-height: 42px;
        @extend %p-re;
        li {
            float: left;
        }
        img {
            display: inline-block;
            margin: 15px 5px 0 22px;
        }
    }
}

.navleft-item2:hover~.panel .panel-item1,
.navleft-item3:hover~.panel .panel-item2,
.navleft-item4:hover~.panel .panel-item3,
.navleft-item5:hover~.panel .panel-item4,
.panel-item:hover {
    background: #F3F3F3;
}

.navleft-item2:hover~.panel .nav-triangle1,
.navleft-item3:hover~.panel .nav-triangle2,
.navleft-item4:hover~.panel .nav-triangle3,
.navleft-item5:hover~.panel .nav-triangle4,
.panel-item:hover>.nav-triangle {
    display: block;
}


/*主体部分样式*/

#content {
    width: 1000px;
    margin: 20px auto 0;
}


/*课程信息*/

.lesson-head {
    height: 373px;
    /*左侧课程目录*/
    .lesson-nav {
        @extend %p-re;
        float: left;
        width: 210px;
        height: 373px;
        border-top: 2px solid $gr;
        box-sizing: border-box;
        li {
            width: 210px;
            height: 37px;
            line-height: 37px;
            padding: 0 15px;
            border: {
                left: 1px solid #d2d2d2;
                right: 1px solid #d2d2d2;
                bottom: 1px solid #d2d2d2;
            }
            box-sizing: border-box;
            cursor: pointer;
            @include bgp('../img/content-lessonnav/more-icon_d39346f.png', 185px, center);
            background-size: 6px 10px;
        }
        a {
            font-size: 13px;
            color: #333;
            &:hover {
                color: $gr;
            }
        }
    }
    .lesson-list {
        display: none;
        @include po(ab, -2px, 211px);
        background: #fff;
        margin-left: -1px;
        min: {
            height: 372px;
            width: 401px;
        }
        border-top: 1px solid #D2D2D2;
        padding-bottom: 30px;
        box: {
            shadow: 1px 2px 4px rgba(0, 0, 0, .1);
            sizing: border-box;
        }
        cursor: pointer;
        z-index: 99;
        dl {
            margin: 0 10px;
        }
        dt {
            border-bottom: 1px solid #f5f5f5;
            height: 36px;
            line-height: 45px;
            font-weight: 400;
        }
        dd {
            overflow: hidden;
            line-height: 31px;
            &>a {
                display: inline-block;
                height: 14px;
                line-height: 14px;
                margin-left: -6px;
                padding: 0 9px 0 7px;
                color: #666;
                @extend %f12;
                border-left: 1px solid #e0e0e0;
                white-space: nowrap;
            }
        }
    }
}

.lesson-nav li:hover {
    border: {
        right: 0;
        left: 2px solid $gr;
    }
    background: #fff;
    &>a[class] {
        color: $gr;
    }
}


/*中间快捷课程*/

.lesson-focus {
    width: 560px;
    height: 373px;
    margin-left: 10px;
    float: left;
    .focus-banner {
        @extend %p-re;
        overflow: hidden;
        height: 260px;
        a {
            float: left;
            display: block;
            width: 560px;
            height: 260px;
        }
        .focus-first {
            background: url(../img/content-lessonnav/571723a44f2e1.jpg) no-repeat;
            z-index: 95;
        }
        .focus-second {
            background: url(../img/content-lessonnav/57202a125c959.jpg) no-repeat;
            z-index: 94;
        }
        .focus-third {
            background: url(../img/content-lessonnav/57174456d4c36.jpg) no-repeat;
            z-index: 93;
        }
        .focus-fourth {
            background: url(../img/content-lessonnav/57174b362b54f.jpg) no-repeat;
            z-index: 92;
        }
        .focus-fifth {
            background: url(../img/content-lessonnav/571d92d1b4dbd.jpg) no-repeat;
            z-index: 91;
        }
        .focus-sixth {
            background: url(../img/content-lessonnav/571d92c15d84c.jpg) no-repeat;
            z-index: 90;
        }
        .banner-left,
        .banner-right {
            display: none;
            margin-top: -25px;
            width: 40px;
            height: 50px;
            cursor: pointer;
        }
        .banner-left {
            @include po(ab, 50%);
            @include bgp('../img/content-lessonnav/banner-left_fe0df34.png', -10px, -5px);
            z-index: 96;
            &:hover {
                @include bgp('../img/content-lessonnav/banner-left_fe0df34.png', -10px, -65px);
            }
        }
        .banner-right {
            position: absolute;
            top: 50%;
            right: 0;
            background: url(../img/content-lessonnav/banner-right_a0bdd7d.png) -10px -5px no-repeat;
            z-index: 97;
            &:hover {
                @include bgp('../img/content-lessonnav/banner-right_a0bdd7d.png', -10px, -65px);
            }
        }
        &:hover {
            .banner-left,
            .banner-right {
                display: block;
            }
        }
        .pagination {
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -163px;
            width: 330px;
            height: 10px;
            z-index: 98;
        }
    }
    .focus-wrap {
        position: absolute;
        width: 4480px;
        overflow: hidden;
    }
}

.focus-banner .pagination {
    span {
        @include dwh(ib, 39px, 10px);
        margin: 0 6px;
        border-bottom: 3px solid #fff;
        cursor: pointer;
    }
    .light {
        border-color: $gr;
    }
}

.focus-work {
    width: 560px;
    height: 100px;
    margin-top: 13px;
    border: 1px solid #E2E2E2;
    @extend %p-re;
    box-sizing: border-box;
    overflow: hidden;
    &:hover {
        .work-left,
        .work-right {
            display: block;
        }
    }
}

.work-list {
    float: left;
    height: 100px;
    width: 1680.03px;
    position: absolute;
    li {
        width: 186.67px;
        height: 100px;
        float: left;
        box-sizing: border-box;
        border-left: 1px solid #F5F4EE;
        img {
            display: block;
            margin: 8px auto;
            width: 40px;
            height: 40px;
        }
        .work-title,
        .work-intro {
            text-align: center;
            @extend %f12;
        }
        .work-title {
            color: #333;
        }
        .work-intro {
            color: #666;
        }
    }
}

.work-left,
.work-right {
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
}

.work-left {
    float: left;
    @include po(ab, 30px);
    @include bgp('../img/content-lessonnav/focus-nav_4593a01.png');
    background-size: 48px 80px;
    &:hover {
        display: block;
        @include bgp('../img/content-lessonnav/focus-nav_4593a01.png', 0, -40px);
        background-size: 48px 80px;
    }
}

.work-right {
    float: right;
    position: absolute;
    top: 30px;
    right: 0;
    @include bgp('../img/content-lessonnav/focus-nav_4593a01.png', -24px);
    background-size: 48px 80px;
    &:hover {
        display: block;
        @include bgp('../img/content-lessonnav/focus-nav_4593a01.png', -24px, -40px);
        background-size: 48px 80px;
    }
}


/*右侧课程信息等*/

.lesson-right-show {
    width: 210px;
    height: 373px;
    margin-left: 10px;
    border: 1px solid #E4E4E4;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    /*快讯*/
    .news {
        padding: 10px 13px 0;
        height: 125px;
        border-bottom: 1px solid #E4E4E4;
        h3 {
            color: #333;
            @extend %f14;
            margin-bottom: 5px;
        }
        p {
            @extend %f12;
            line-height: 1.8;
            .redword {
                color: #F00;
            }
        }
        a {
            color: #666;
            &:hover {
                color: $gr;
            }
        }
    }
}


/*用户信息*/

.userinfo {
    height: 76px;
    border-bottom: 1px solid #E4E4E4;
    img {
        @include dwh(b, 40px, 40px);
        float: left;
        margin: 0 12px;
        overflow: hidden;
    }
    p {
        @extend %f12;
        margin-top: 10px;
        color: #666;
        line-height: 1.4;
        &:nth-child(3) {
            margin-top: 2px;
        }
    }
    a {
        margin-top: 7px;
        @include dwh(b, 48px, 20px);
        float: left;
        line-height: 20px;
        @extend %f12;
        color: #FFF;
        text-align: center;
    }
    .login-btn {
        margin-right: 10px;
        background: #FB5D20;
    }
    .register-btn {
        background: $gr;
    }
}


/*课程推荐等*/

.recommend {
    @extend %p-re;
    &:after {
        @extend %clear;
    }
    ul,
    .recommend-move,
    .recommend-stable {
        float: left;
    }
    .recommend-move,
    .recommend-stable {
        width: 52px;
        height: 76px;
        color: #000;
        @extend %f12;
        line-height: 23px;
        text-align: center;
        border: {
            right: 1px solid #F5F5F5;
            bottom: 1px solid #F5F5F5;
        }
        box-sizing: border-box;
    }
    .recommend-stable a {
        @extend %f12;
        color: #000;
    }
    li {
        a:hover {
            color: $gr;
        }
        &:nth-child(4),
        &:nth-child(8) {
            border-right: 0;
        }
    }
    .icon {
        background: url(../img/content-lessonnav/recommend_4a9a464.png);
        @include dwh(b, 25px, 25px);
        margin: 13px auto 0;
        background-size: 71px 232px;
    }
    .question .icon {
        background-position: -5px -3px;
    }
    .wiki .icon {
        background-position: -5px -31px;
    }
    .course .icon {
        background-position: -5px -59px;
    }
    .group .icon {
        background-position: -5px -87px;
    }
    .angle-bottom {
        @include dwh(b);
        box-sizing: content-box;
        border: {
            top: 6px solid #E4E4E4;
            left: 6px solid transparent;
            right: 6px solid transparent;
            bottom: 6px solid transparent;
        }
        margin: 0 auto;
    }
    .download-icon {
        background-position: -5px -117px;
        &:hover {
            background-position: -42px -117px;
        }
    }
    .know-icon {
        background-position: -5px -144px;
        &:hover {
            background-position: -42px -144px;
        }
    }
    .occupation-icon {
        background-position: -5px -173px;
        &:hover {
            background-position: -42px -173px;
        }
    }
    .vip-icon {
        background-position: -5px -202px;
        &:hover {
            background-position: -42px -202px;
        }
    }
}

.recommend-move-list {
    display: none;
    position: absolute;
    background: #FFF;
    width: 208px;
    height: 152px;
    .move-list-content {
        height: 152px;
    }
    .type-list {
        .stable {
            float: left;
            width: 52px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            @extend %f12;
            border: {
                right: 1px solid #F5F5F5;
                bottom: 1px solid #F5F5F5;
            }
            cursor: pointer;
            box-sizing: border-box;
            &:nth-child(4) {
                border-right: 0;
            }
        }
    }
}

.move-list-content {
    .question-content {
        padding: 10px;
        width: 188px;
        display: none;
        li {
            height: 22px;
        }
        a {
            display: block;
            overflow: hidden;
            color: #666;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 20px;
        }
        img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
        span {
            @extend %f12;
            margin-left: 8px;
        }
    }
    .wiki-content {
        display: none;
        overflow: hidden;
        padding: 15px 10px;
        box-sizing: border-box;
        li {
            float: left;
            width: 55px;
            @extend %f12;
            margin-right: 7px;
        }
        a {
            color: #666;
        }
        img {
            width: 55px;
            height: 73px;
            display: block;
        }
        p {
            margin-top: 8px;
            overflow: hidden;
            text: {
                align: center;
                overflow: ellipsis;
            }
            white-space: nowrap;
        }
    }
    .course-content {
        display: none;
        li {
            float: left;
            border: {
                right: 1px solid #F5F5F5;
                bottom: 1px solid #F5F5F5;
            }
            &:nth-child(2n) {
                border-right: 0;
            }
        }
        a {
            @include dwh(b, 103px, 63px);
            color: #666;
            overflow: hidden;
        }
        img {
            @include dwh(b, 30px, 30px);
            margin: 7px auto;
        }
        p {
            text-align: center;
            @extend %f12;
        }
    }
    .group-content {
        display: none;
        padding: 10px 0;
        width: 208px;
        @extend %f12;
        box-sizing: border-box;
        li {
            padding: 10px;
        }
        img {
            margin-right: 10px;
            width: 32px;
            height: 32px;
            vertical-align: center;
        }
        div {
            display: inline-block;
            width: 95px;
            color: #333;
            @extend %telli;
        }
        a {
            float: right;
            position: absolute;
            right: 12px;
            @include dwh(ib, 50px, 20px);
            line-height: 20px;
            border-radius: 3px;
            color: #FFF;
            background: #ff5c00;
            text-align: center;
            margin-top: 5px;
            &:hover {
                color: #fff;
            }
        }
    }
}


/*热门课程*/

.hot-lesson {
    margin: {
        top: 20px;
        bottom: 539px;
    }
    height: 41px;
    box-sizing: border-box;
    &>li {
        @extend %p-re;
        width: 16.6%;
        float: left;
        text-align: center;
        color: #666;
        padding: 10px 0;
        cursor: pointer;
        @extend %f14;
        border-bottom: 2px solid #EFEFEF;
    }
}

.hot-lesson-hover {
    border-bottom: 2px solid $gr !important;
    @include bgp('../img/hot-lesson/index-sj_cc73747.png', center, bottom);
    background-size: 10px 4px;
    color: $gr !important;
}

.hot-lessonbox {
    position: absolute;
    top: 42px;
    cursor: default;
    width: 1020px;
    padding: 19px 0;
    li {
        margin: {
            right: 20px;
            bottom: 20px;
        }
        width: 235px;
        height: 220px;
        float: left;
        &>a {
            display: block;
            width: 100%;
            @extend %p-re;
        }
        img {
            display: block;
            height: 130px;
        }
    }
    .playericon {
        @include dwh(no, 50px, 50px);
        @include po(ab, 50%, 50%);
        margin: {
            left: -25px;
            top: -25px;
        }
        @include bgp('../img/hot-lesson/player_icon_5c67475.png');
        background-size: 50px 50px;
        cursor: pointer;
    }
    .freeicon {
        @include dwh(b, 38px, 22px);
        position: absolute;
        top: -2px;
        right: 8px;
        @include bgp('../img/icon_7f8b929.png', -58px -43px);
    }
}

.hot-lessonbox1 {
    display: block;
    background: #fff;
}

.hot-lessonbox2,
.hot-lessonbox3,
.hot-lessonbox4,
.hot-lessonbox5,
.hot-lessonbox6 {
    display: none;
    background: #fff;
}

.hot-lessonbox2 {
    left: -166px;
}

.hot-lessonbox3 {
    left: -332px;
}

.hot-lessonbox4 {
    left: -498px;
}

.hot-lessonbox5 {
    left: -664px;
}

.hot-lessonbox6 {
    left: -830px;
}

.lesson-info {
    border: 1px solid #e4e4e4;
    border-top: 0;
    background: #fff;
    padding: 10px;
    @extend %p-re;
    overflow: hidden;
    a {
        @include dwh(ib, 213px, 36px);
        color: #333;
        text: {
            decoration: none;
            align: left;
        }
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 12px;
    }
    p {
        color: #808080;
        height: 52px;
        width: 213px;
        text-align: left;
        overflow: hidden;
        @extend %f12;
        line-height: 18px;
        margin-bottom: 10px;
    }
    span {
        float: left;
        @extend %f12;
        display: block;
        padding-bottom: 8px;
        color: #808080;
        background: #fff;
    }
    .time-icon {
        @include bgp('../img/hot-lesson/clok_a413ecf.png');
        width: 14px;
        height: 14px;
        margin-right: 8px;
        background-size: 14px 14px;
    }
    .learn-number {
        margin-left: 44px;
        float: right;
    }
    .junior {
        @include bgp('../img/hot-lesson/one-ji_1731712.png');
    }
    .middle {
        @include bgp('../img/hot-lesson/tow-ji_ec2b553.png');
    }
    .senior {
        @include bgp('../img/hot-lesson/three-ji_b588ab1.png');
    }
    .junior,
    .middle,
    .senior {
        background-size: 14px 14px;
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }
    .lesson-icon {
        @include dwh(ib, 16px, 16px);
        margin: {
            left: 5px;
            bottom: 0;
        }
        float: right;
        img {
            width: 16px;
            height: 16px;
        }
    }
    .hide {
        display: none;
    }
}


/*职业路径图样式*/

.path-head {
    height: 24px;
    margin-bottom: 16px;
    overflow: hidden;
}

.projectpath {
    margin-top: 20px;
}

.wiki-index,
.knowpath,
.excellent-course,
.projectpath {
    .title,
    .why,
    .why-info {
        float: left;
    }
    .title {
        display: inline-block;
        font-size: 18px;
        color: #333;
        font-weight: 500;
    }
    .why {
        @extend %f12;
        @include dwh(b, 13px, 13px);
        line-height: 13px;
        color: #fff;
        background: #999;
        border-radius: 50%;
        text-align: center;
        margin: 5px 8px 0;
        cursor: pointer;
    }
    .why-info {
        @extend %f12;
        @extend %p-re;
        color: #666;
        padding: 2px 4px;
        border: 1px solid #e4e4e4;
        display: none;
        box-shadow: 1px 1px 3px #ccc;
        i {
            @include bgp('../img/projectpath/title-sj_adebc06.jpg', center, center);
            @include dwh(b, 5px, 10px);
            @include po(ab, 5px, -5px);
            z-index: 81;
        }
    }
    .why:hover~.why-info {
        display: block;
    }
    .more-lesson {
        float: right;
        @extend %f12;
        color: #2d85ca;
        margin-top: 4px;
    }
}

.project-card {
    overflow: hidden;
    border: 1px solid #E4E4E4;
    border-bottom: 0;
    width: 1000px;
    li {
        width: 20%;
        float: left;
        text-align: center;
        height: 300px;
        border: {
            right: 1px solid #E4E4E4;
            bottom: 1px solid #E4E4E4;
        }
        box-sizing: border-box;
        &:nth-child(5n) {
            border-right: 0;
        }
        &:hover {
            border: 1px solid $gr;
        }
        a {
            @include dwh(b, 100%, 100%);
        }
        img {
            margin-bottom: 24px;
            width: 100%;
            height: 120px;
        }
        h2 {
            font-size: 15px;
            color: #333;
            margin-bottom: 20px;
            height: 18px;
            overflow: hidden;
        }
        p {
            @extend %f12;
            color: #666;
            line-height: 20px;
            height: 20px;
            width: 199px;
            overflow: hidden;
        }
        a:hover {
            .green-btn {
                background: #35b558;
                color: #fff;
                transition: background .5s ease, color .5s ease;
                outline: 0;
            }
            .waiting-btn {
                background: #ddd;
                transition: background .5s ease;
                outline: 0;
            }
        }
        .waiting-btn {
            background: #f5f5f5;
            color: #808080;
            border: 1px solid #e4e4e4;
            outline: 0;
        }
    }
}

.green-btn,
.waiting-btn {
    @include dwh(ib, 140px, 34px);
    line-height: 34px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: $gr;
    font-size: 16px;
    border: 1px solid #35b558;
    background: #f3fff6;
}


/*知识体系图样式*/

.knowpath {
    margin-top: 40px;
}

.know-card {
    border: 1px solid #E4E4E4;
    border-bottom: 0;
    width: 1002px;
    overflow: hidden;
    li {
        float: left;
        border: {
            right: 1px solid #E4E4E4;
            bottom: 1px solid #E4E4E4;
        }
        width: 167px;
        height: 120px;
        text-align: center;
        box-sizing: border-box;
        &:nth-child(6n) {
            border-right: 0;
        }
        .card-transform {
            @include dwh(b, 100%, 100%);
        }
    }
}

.card-transform {
    transform-style: preserve-3d;
    @extend %p-re;
    &:hover {
        .front {
            transform: rotateY(180deg);
            transition: transform .5s ease;
        }
        .back {
            transform: rotateY(360deg);
            transition: transform .5s ease;
        }
    }
    .front {
        padding: 15px 0;
        background: #fff;
        transform: rotateY(0deg);
        transition: transform .5s ease;
        img {
            margin-bottom: 5px;
            height: 40px;
            width: 40px;
            vertical-align: middle;
        }
        h2 {
            margin-bottom: 5px;
            font-size: 15px;
            color: #333;
            font-weight: 400;
        }
        span {
            @extend %f14;
            color: $gr;
        }
    }
    .back {
        padding-top: 30px;
        transform: rotateY(180deg);
        transition: transform .5s ease;
        background: #f5f5f5;
        span {
            display: block;
            @extend %f14;
            color: #666;
            margin-bottom: 10px;
            font-weight: 400;
        }
        .green-btn {
            font-size: 16px;
            color: #fff;
            text-align: center;
            width: 140px;
            height: 36px;
            cursor: pointer;
            background: $gr;
            margin-top: 0;
            &:hover {
                background: #66d178;
                border: 1px solid #66d178;
                transition: background .5s ease, border .5s ease;
            }
        }
    }
    .front,
    .back {
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        backface-visibility: hidden;
    }
}


/*精品系列课程样式*/

.excellent-course {
    margin-top: 40px;
    width: 1005px;
    .first-card {
        margin-left: 0;
    }
}

.course-card {
    @include dwh(ib, 235px, 261px);
    @extend %p-re;
    @entend %f12;
    overflow: hidden;
    padding: 16px;
    border: 1px solid #e4e4e4;
    margin-left: 16px;
    box-sizing: border-box;
    &:hover {
        border: 1px solid $gr;
        .describe {
            opacity: 1;
            background: rgba(255, 255, 255, .9);
            transition: opacity .3s ease;
        }
    }
    h2 {
        @extend %telli;
        @extend %f14;
        width: 80%;
        margin-bottom: 15px;
        font-weight: 400;
        line-height: 1;
    }
    img {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        overflow: hidden;
    }
    span {
        @extend %f12;
        max-width: 140px;
        color: #808080;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
    }
    button {
        @include dwh(ib, 56px, 20px);
        @extend %f12;
        float: right;
        margin-right: 6px;
        color: #fff;
        border-radius: 3px;
        border: 1px solid $gr;
        background: $gr;
        line-height: 18px;
        text-align: center;
        &:hover {
            background: #66d178;
            border: 1px solid #66d178;
            transition: background .5s ease, border .5s ease;
        }
    }
    .describe {
        @include dwh(b, 100%, 80%);
        @include po(ab);
        opacity: 0;
        text-align: center;
        overflow: hidden;
    }
}

.describe {
    &:hover {
        opacity: 1;
        background: rgba(255, 255, 255, .9);
        transition: opacity .3s ease;
    }
    .name {
        color: #666;
        text-align: center;
        &:hover {
            color: $gr;
        }
        img {
            @include dwh(ib, 50px, 50px);
            margin: {
                top: 20px;
                bottom: 0;
            }
            border-radius: 50%;
        }
    }
    .text {
        @include dwh(b, 100%, 150px);
        margin-top: 10px;
        span {
            @include dwh(ib, 88%, 40px);
            @extend %telli;
            padding: 0 16px;
            text-align: left;
            line-height: 20px;
            color: #666;
            max-width: none;
            &:hover {
                color: $gr;
            }
        }
        button {
            @include dwh(b, 100px, 28px);
            @extend %f14;
            line-height: 26px;
            border-radius: 2px;
            margin: 23px auto;
            float: none;
        }
    }
}


/*wiki索引样式*/

.wiki-index {
    overflow: hidden;
    margin-top: 40px;
}

.wiki-card {
    float: left;
    width: 333.3px;
    height: 370px;
    padding: 15px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    overflow: hidden;
    &:nth-child(3) {
        border: {
            left: 0;
            right: 0;
        }
    }
    h2 {
        @extend %f14;
        font-weight: 500;
    }
    .wiki-book {
        margin: {
            top: 10px;
            right: 15px;
        }
        float: left;
        text-align: center;
        width: 142px;
        height: 200px;
        @extend %p-re;
        background: #999;
        border-radius: 5px;
        box-sizing: border-box;
        &:nth-child(3) {
            margin-right: 0;
        }
        .lookhere {
            @include dwh(no, 40px, 20px);
            position: absolute;
            right: -10px;
            top: -13px;
            @include bgp('../img/wiki-index/look_d293d44.png', center, center);
            background-size: 100% 100%;
        }
    }
    .contents {
        margin-top: 270px;
        li {
            @extend %f12;
            color: #999;
            line-height: 12px;
            margin-bottom: 8px;
            overflow: hidden;
        }
    }
}

.wiki-book {
    .face {
        width: 142px;
        height: 200px;
        border-radius: 5px;
        z-index: 80;
        &:hover {
            transform: rotateY(20deg);
            transition: transform 1s ease;
            transform-origin: left;
        }
    }
    .face:hover+.lookhere {
        display: block;
    }
    h3 {
        @extend %telli;
        font-size: 13px;
        color: #333;
        height: 13px;
        line-height: 13px;
        margin: 10px auto;
        font-weight: 400;
    }
    p {
        @extend %f12;
        color: #999;
        display: block;
    }
    a:hover h3,
    a:hover p {
        color: $gr;
    }
}

.contents li {
    p {
        @extend %telli;
        width: 200px;
        float: left;
        color: #999;
    }
    span {
        float: right;
        width: 90px;
        text-align: right;
        display: block;
        color: #999;
    }
    &:hover p,
    &:hover span {
        color: $gr;
    }
}


/*战略合作企业样式  媒体报道样式*/

.enterprise .more-lesson {
    float: right;
    @extend %f12;
    color: #2d85ca;
    margin-top: 4px;
}

.enterprise,
.media {
    margin-top: 40px;
    .title {
        display: inline-block;
        font-size: 18px;
        color: #333;
        font-weight: 500;
    }
    .strategy {
        border: 1px solid #e4e4e4;
        height: 90px;
        padding: 20px;
        @extend %p-re;
        width: 100%;
        box-sizing: border-box;
        .strategy-left,
        .strategy-right {
            @include dwh(no, 40px, 50px);
            margin-top: -25px;
            cursor: pointer;
            overflow: hidden;
            z-index: 2;
        }
        .strategy-left:hover {
            @include bgp('../img/banner-left_fe0df34.png', -10px, -65px);
        }
        .strategy-right:hover {
            @include bgp('../img/banner-right_a0bdd7d.png', -10px, -65px);
        }
        &:hover .strategy-left,
        &:hover .strategy-right {
            display: block;
        }
        .strategy-left {
        	@include po(ab, 50%);
            @include bgp('../img/banner-left_fe0df34.png', -10px, -5px);
        }
        .strategy-right {
        	position: absolute;
        	top: 50%;
        	right: 0;
            @include bgp('../img/banner-right_a0bdd7d.png', -10px, -5px);
        }
    }
}

.strategy {
    &>div {
        @include po(ab, 18px, 22px);
        overflow: hidden;
        width: 960px;
        height: 70px;
    }
    .strategy-box {
        position: absolute;
        overflow: hidden;
        width: 1916px;
        a {
            width: 159.667px;
            display: inline-block;
            float: left;
            text-align: center;
        }
        img {
            height: 50px;
            width: 150px;
            border: 1px solid #e4e4e4;
        }
    }
}


/*脚部信息*/

footer {
    margin-top: 50px;
    border-top: 1px solid #e4e4e4;
    .search-share {
        width: 260px;
        float: left;
        min-height: 226px;
        border-left: 1px solid #e4e4e4;
        padding: 20px 0 0 40px;
        box-sizing: border-box;
    }
    .copyright {
        @extend %f12;
        color: #999;
        margin: 0 auto;
        width: 1000px;
        text-align: center;
        padding: 20px 250px;
        border-top: 1px solid #e4e4e4;
    }
}

.footer-info {
    width: 1000px;
    margin: 0 auto;
    &:after {
        @extend %clear;
    }
    dl {
        width: 185px;
        padding-left: 30px;
        color: #808080;
        margin: 25px 0;
        float: left;
        border-left: 1px solid #e4e4e4;
        box-sizing: border-box;
        dt {
            @extend %f14;
            color: #666;
            font-weight: 500;
        }
        dd {
            @extend %f12;
            margin-top: 10px;
        }
        a {
            color: #808080;
            &:hover {
                color: $gr;
            }
        }
    }
}

.search-share {
    strong:first-child {
        font-size: 15px;
        color: $gr;
        display: block;
        margin-bottom: 15px;
        font-weight: 500;
    }
    .app-download {
        display: block;
        @extend %p-re;
    }
    .weibo,
    .tieba,
    .weixin {
        @include bgp('../img/icon_7f8b929.png');
        @include dwh(ib, 32px, 32px);
        float: left;
        margin: 15px 10px 0 0;
    }
    .weibo {
        background-position: -23px 0;
        &:hover {
            background-position: -23px -40px;
        }
    }
    .tieba {
        background-position: -145px 0;
        &:hover {
            background-position: -145px -40px;
        }
    }
    .weixin {
        background-position: -23px -82px;
        @extend %p-re;
        img {
            @include dwh(no, 126px, 159px);
            position: absolute;
            bottom: 32px;
            left: -48px;
            max-width: none;
        }
        &:hover {
            background-position: -23px -122px;
            img {
                display: block;
            }
        }
    }
    .kefu-online {
        margin-top: 61px;
        color: #808080;
        display: block;
        .kefu-icon {
            @include dwh(b, 40px, 40px);
            background: url(../img/footer/kefu_8edc734.png) no-repeat 0 0/80px 40px;
            float: left;
            box-sizing: border-box;
        }
        h5 {
            color: #666;
            @extend %f14;
            margin-bottom: 2px;
            line-height: 22px;
            padding-left: 45px;
            font-weight: 400;
        }
        p {
            color: #808080;
            @extend %f12;
            padding-left: 45px;
        }
    }
}

.app-download {
    img {
        width: 21px;
        display: block;
        float: left;
        margin-right: 15px;
    }
    strong {
        font-size: 18px;
        color: #666;
        margin-bottom: 8px;
        font-weight: bold;
    }
    p {
        @extend %f14;
        color: #808080;
        @include bgp('../img/footer/more-icon_d39346f.png', 160px, center);
        background-size: 7px 13px;
    }
    &:hover strong,
    &:hover p {
        color: $gr;
    }
}

.kefu-online:hover h5,
.kefu-online:hover p {
    color: #35b558;
}

.copyright strong {
    font-weight: 400;
    a {
        color: #999;
        &:hover {
            color: $gr;
        }
    }
}


/*固定内容样式*/

.fixed1,
.fixed2 {
    position: fixed;
    left: 50%;
    margin-left: 510px;
}

.fixed1 {
    width: 105px;
    height: 80px;
    bottom: 470px;
    cursor: pointer;
    .close {
        @include dwh(b, 14px, 14px);
        position: absolute;
        top: -5px;
        right: -13px;
        @include bgp('../img/close4_e9b7521.png', center, center);
        background-size: 10px auto;
    }
}

.fixed2 {
    width: 34px;
    height: 35px;
    bottom: 125px;
    .back-top {
        @include dwh(no, 34px, 34px);
        @include bgp('../img/gotop1.jpg');
        background-size: 34px 103px;
        position: absolute;
        top: -34px;
        cursor: pointer;
        &:hover {
            @include bgp('../img/gotop2.jpg');
            background-size: 34px 103px;
        }
    }
    span {
        @include dwh(b, 34px, 35px);
        @extend %p-re;
        background: #f7f7f7;
        @include bgp('../img/phone-1_b9a83cb.png', center, center);
        background-size: 12px 24px;
        border-bottom: 1px solid #e0e0e0;
        &:hover~.appewm {
            display: block;
        }
    }
    .appewm {
        @include bgp('../img/appewm_72cb766.png', center, center);
        background-size: 100%;
        @include dwh(no, 126px, 159px);
        @include po(ab, -70px, -126px);
    }
    .kefu {
        @extend %p-re;
        top: 35px;
        @include dwh(b, 34px, 35px);
        background: #f7f7f7;
        @include bgp('../img/kfu1_3dd1509.png', center, center);
        border-top: 1px solid #e0e0e0;
        span {
            @include po(ab, -5px, -200px);
            padding: 5px;
            background: #f7f7f7;
            color: #333;
            @extend %f12;
            text-align: center;
            width: 180px;
            display: none;
            i {
                width: 0;
                height: 0;
                border: {
                    top: 8px solid transparent;
                    left: 10px solid #f7f7f7;
                    bottom: 8px solid transparent;
                }
                position: absolute;
                right: -10px;
                top: 15px;
            }
        }
        &:hover span {
        	display: block;
        }
    }
}
