<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>百度新闻</title>
    <link rel="Shortcut Icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/baidunews.css">
</head>

<body>
    <header>
        <div class="news-tools">
            <div class="tools-left">
                <i class="i-baidu"></i>
                <i class="i-user"></i>
            </div>
            <div class="tools-right">
                <i class="i-search"></i>
                <i class="i-add"></i>
            </div>
        </div>
        <div class="divider"></div>
        <ul class="news-index">
            <li id="recommend" class="news-item news-item-sm">
                <span>推荐</span>
            </li>
            <li id="hundred" class="news-item news-item-sm">
                <b></b>
                <span>百家</span>
            </li>
            <li id="local" class="news-item news-item-sm">
                <b></b>
                <span>本地</span>
            </li>
            <li id="image" class="news-item news-item-sm">
                <b></b>
                <span>图片</span>
            </li>
            <li class="news-more">
                <b></b>
                <span>更多</span>
                <i class="i-arrow-down"></i>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>娱乐</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>社会</span>
            </li>
            <li class="news-item news-item-sm">
                <span>军事</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>女人</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>搞笑</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>科技</span>
            </li>
            <li class="news-item news-item-lg">
                <b></b>
                <span>互联网</span>
            </li>
            <li class="news-item news-item-sm">
                <span>生活</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>国际</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>国内</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>体育</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>汽车</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>财经</span>
            </li>
            <li class="news-item news-item-sm">
                <span>房产</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>时尚</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>教育</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>游戏</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>旅游</span>
            </li>
            <li class="news-item news-item-sm">
                <b></b>
                <span>人文</span>
            </li>
            <li class="news-item news-item-lg">
                <span>创意</span>
            </li>
            <li class="news-item news-item-lg">
                <b></b>
                <span>互联网+</span>
            </li>
        </ul>
        <div class="divider"></div>
        <div class="slide-up">
        	<span>收起</span>
        	<i class="i-arrow-up"></i>
        </div>
    </header>
    <div class="container">
    </div>
    <div class="get-more">
        <span>点击加载更多</span>
    </div>
    <div class="gotop"></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/baidunews.js"></script>
</body>

</html>
